<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIeVzfPm1c8KJRJBGc2AUvrcHvubs8JW4</string>
	<key>GCM_SENDER_ID</key>
	<string>107569172887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sma.p4t7rav4l</string>
	<key>PROJECT_ID</key>
	<string>app268-8a9c0</string>
	<key>STORAGE_BUCKET</key>
	<string>app268-8a9c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107569172887:ios:5d06283bf0c9354f6e74d2</string>
</dict>
</plist>